<section>
  <h2>About Me</h2>
  <p><img class="center" src="{{ root_url }}/images/aboutside-guto.png" title="[Guto Carvalho]" width=220></p>
  <p>Sou Sysadmin Linux (RHCE/LPIC3), entusiasta DevOPs, especialista em gerência de configurações (PCP-201), consultor, palestrante e instrutor Linux. Trabalho com TI há cerca de 14 anos, escrevo sobre TI em blogs desde 2003, gosto muito de documentar e compartilhar na web o que tenho aprendido. Além disto sou marido da @jemmacedo, pai da Beatriz e do Artur. Seja bem vindo, aproveite a visita e fique a vontade para entrar em contato :)</p>
</section>
