<section>
  <h1>About Me</h1>
  <p><img class="left" src="http://gutocarvalho.net/octopress/images/aboutside-guto.png" title="[Guto Carvalho]" width=100></p>
  <p>Sou Sysadmin LPIC-3, aspirante a DevOps, consultor, palestrante e instrutor Linux. Trabalho com TI há cerca de 13 anos, escrevo sobre TI em blogs desde 2003, gosto muito de documentar tudo o que eu aprendo em minha Wiki. Além disto sou marido da @Lambujja e Pai da #Beatriz. Seja bem vindo, aproveite a visita e fique a vontade para entrar e contato :)</p>
</section>
