<section>
<br>
<br>
<br>
<br>
<br>
<br>
<p><img class="center" src="/images/rhce.png" title="[RHCE]"></p><br>
<p><img class="center" src="/images/rhcsa.png" title="RHCSA]"></p><br>
<p><img class="center" src="/images/pcp.png" title="[PCP201]"></p><br>
<p><img class="center" src="/images/fcnsa.png" title="[FCNSAv5]"></p><br>
<p><img class="center" src="/images/lpic3.png" title="[LPIC-3]"></p><br>
<p><img class="center" src="/images/lpic2.png" title="[LPIC-2]"></p><br>
<p><img class="center" src="/images/lpic1.png" title="[LPIC-1]"></p><br>
<p><img class="center" src="/images/novell_cla.jpg" title="[CLP]"></p><br>
</section>
