// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.google-form-wrapper {
  .error {
    color: red;
    font-size: 12px;
  }
  .errorbox-good {
    margin-bottom: 20px;
  }
  .success-msg {
    display: none;
  }
  .ss-form-entry {
    label {
      display:block;
    }
    input {
      display: block;
      padding: 5px;
      width: 250px;
      font: inherit;
    }
    textarea {
      width: 450px;
      padding: 5px;
      font: inherit;
    }
  }
  .ss-navigate input {
    width: auto;
    cursor: pointer;
  }
}

article {
  ol, ul {
    padding-left: 3em;
  }
}

article p{
    text-align:justify;
    margin-bottom: 1em;
}

#content .blog-index article h1 {
    font-size: 1.4em;
}

#content .blog-index article h2 {
    font-size: 1.3em;
}

#content .blog-index article h3 {
    font-size: 1.2em;
}

#content .blog-index article h4 {
    font-size: 1.1em;
}

#content .blog-index article header h1 {
    font-size: 1.6em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}


aside.sidebar p { text-align:justify; }

@import "mixins";
